$fontFamily: 'Roboto', sans-serif;
$fontSizeH1: 3rem;
$fontSizeH2: 2rem;
$fontSizeH3: 1.5rem;
$fontSize: 1.1rem;
$radius: 10px;
$redColor: #F53A3A;
$greyColor: #F9FAFC;
$color: #131313;
$color2: #777777;
$cursor: pointer;
$none: none;
$auto: auto;
$maxPercent: 100%;